{{- 'pdp.css' | asset_url | stylesheet_tag -}}
{%- if product_card_product and product_card_product != empty -%}
{%- liquid
	assign products_hover_images = settings.products_hover_images
	assign products_hover_images_count = settings.products_hover_images_count
	assign product_aspect_ratio = settings.product_aspect_ratio
	assign featured_media = product_card_product.featured_media
	assign ratio = 1
	assign sizes = '375x375,770x770'


	if featured_media.media_type != 'image'
		assign featured_media = featured_media.preview_image
	endif
	if product_aspect_ratio == 'adapt'
		assign ratio = featured_media.aspect_ratio
		assign sizes = '375x0,770x0'
	elsif product_aspect_ratio == 'portrait'
		assign ratio = 1 | divided_by: 1.25
		assign sizes = '375x350,770x700'
	elsif product_aspect_ratio == 'landscape'
		assign ratio = 1 | divided_by: 0.75
		assign sizes = '375x250,770x500'
	endif
	assign product_content_alignment = settings.product_content_alignment

	assign is_purchasable = false
	if product_card_product.available and product_card_product.variants.size == 1
		assign is_purchasable = true
	endif

	# Product card options
	assign show_size_options = settings.show_size_options
	assign size_options_variant_name = settings.size_options_variant_name
	assign size_options_limit = settings.size_options_limit

-%}
<product-card class="product-card text-{{ product_content_alignment }}">
  <figure class="product-featured-image {% if products_hover_images and product_card_product.images.size > 1 and products_hover_images_count > 0 %}thb-hover{% endif %}">
    {% render 'product-card-badge', product_card_product: product_card_product %}
    <a href="{{ product_card_product.url | within: collection }}" title="{{ product_card_product.title | escape }}" class="product-featured-image-link product__img-overlay aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}" style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
      {%- if products_hover_images and product_card_product.images.size > 1 -%}
        {%- for i in (1..products_hover_images_count) -%}
					{%- if product_card_product.images[i] -%}
	          {%- render 'responsive-image', class: 'product-secondary-image', image: product_card_product.images[i], sizes: sizes, priority: 'low' -%}
		      {%- endif -%}
        {%- endfor %}
      {%- endif -%}
			{%- if featured_media -%}
      	{%- render 'responsive-image', class: 'product-primary-image', image: featured_media, sizes: sizes -%}
			{%- else -%}
				<div class="thb-placeholder">
					{{ 'product-1' | placeholder_svg_tag }}
				</div>
			{%- endif -%}
    </a>
			{%- if settings.enable_quick_view -%}
			<quick-view class="product-card-quickview  pdp__quick-view product-card-quickview--{%- unless show_size_options -%}button{%- else -%}icon{%- endunless -%}" href="#Product-Drawer" data-product-handle="{{ product_card_product.handle }}" tabindex="-1">
				<div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.99999 11.1845C10.2181 11.1845 11.2056 10.197 11.2056 8.97885C11.2056 8.95102 11.2045 8.92345 11.2035 8.89585C11.0016 8.98771 10.7775 9.03925 10.5413 9.03925C9.65668 9.03925 8.9396 8.32213 8.9396 7.43753C8.9396 7.20127 8.99117 6.97721 9.083 6.77529C9.05543 6.77426 9.02786 6.77319 8.99999 6.77319C7.78187 6.77319 6.79437 7.76069 6.79437 8.97881C6.79437 10.1969 7.78187 11.1845 8.99999 11.1845Z" fill="#473715"/>
					<path d="M17.8403 8.70279C16.959 7.1794 15.6918 5.90176 14.1756 5.00793C12.6131 4.08683 10.8234 3.59998 9 3.59998C7.17658 3.59998 5.3869 4.08683 3.8244 5.00793C2.30818 5.90172 1.04098 7.17937 0.159724 8.70279L0 8.9789L0.159724 9.255C1.04098 10.7784 2.30818 12.056 3.8244 12.9499C5.3869 13.871 7.17658 14.3578 9 14.3578C10.8234 14.3578 12.6131 13.871 14.1756 12.9499C15.6918 12.0561 16.959 10.7784 17.8403 9.255L18 8.9789L17.8403 8.70279ZM13.2761 8.9789C13.2761 11.3367 11.3578 13.255 9 13.255C6.64219 13.255 4.72393 11.3367 4.72393 8.9789C4.72393 6.62105 6.64219 4.70282 9 4.70282C11.3578 4.70282 13.2761 6.62105 13.2761 8.9789ZM1.28066 8.9789C2.12398 7.63391 3.29549 6.55157 4.65496 5.81218C4.00526 6.70119 3.62112 7.79595 3.62112 8.9789C3.62112 10.1618 4.00526 11.2566 4.65496 12.1456C3.29549 11.4062 2.12398 10.3239 1.28066 8.9789ZM13.345 12.1456C13.9947 11.2566 14.3789 10.1618 14.3789 8.9789C14.3789 7.79595 13.9947 6.70119 13.345 5.81218C14.7045 6.55157 15.876 7.63391 16.7193 8.9789C15.876 10.3239 14.7045 11.4062 13.345 12.1456Z" fill="#473715"/>
				</svg>
				<span>{%- unless show_size_options -%}{{ 'products.product.quick_view' | t }}{%- else -%}{% render 'svg-icons' with 'thb-quick-view' %}{%- endunless -%}</span>
				
			</quick-view>
			{%- endif -%}
			{%- if show_size_options -%}
				{%- render 'product-card-size-options', product_card_product: product_card_product -%}
			{%- endif -%}
			{%- if products_hover_images and product_card_product.images.size > 1 and settings.products_hover_dots -%}
				<ul class="product-secondary-images-nav">
        {%- for i in (1..products_hover_images_count) -%}
					{%- if product_card_product.images[i] -%}
          <li></li>
					{%- endif -%}
        {%- endfor %}
				</ul>
      {%- endif -%}
  </figure>
	<div class="product-card-info">
		{%- if settings.show_products_vendor -%}
		<div class="product-card-vendor"><a href="{{ product_card_product.vendor | url_for_vendor }}" title="{{ product_card_product.vendor | escape }}">{{ product_card_product.vendor }}</a></div>
		{%- endif -%}
  	<a href="{{ product_card_product.url | within: collection }}" title="{{ product_card_product.title | escape }}" class="product-card-title">{{ product_card_product.title }}</a>
    {% render 'product-price', product: product_card_product %}
		{% render 'product-card-swatch', product: product_card_product, sizes: sizes %}
		{%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
		<div class="star-rating" style="--star-rating: {{ product_card_product.metafields.reviews.rating.value.rating }};"></div>
		{%- endif -%}
		{%- if settings.enable_quick_add -%}
			{%- liquid
				if product_card_product.selected_or_first_available_variant.available == false
					assign button_content = 'products.product.sold_out' | t
				else
					if product_card_product.metafields.theme.preorder and product_card_product.available
						assign button_content = 'products.product.pre_order' | t
					else
						assign button_content = 'products.product.add_to_cart' | t
					endif
				endif
			-%}
			<div class="product-card--add-to-cart-button-container">
			{% if is_purchasable %}
				<button class="product-card--add-to-cart-button product-card--add-to-cart-button-simple button outline" data-product-id="{{ product_card_product.selected_or_first_available_variant.id }}" tabindex="-1" {% if product_card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
					<span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
					<span class="product-card--add-to-cart-text">
						{{ button_content }}
					</span>
				</button>
			{% else %}
				<quick-view class="product-card--add-to-cart-button button outline" data-product-handle="{{ product_card_product.handle }}" tabindex="-1">
					<span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
					<span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
				</quick-view>
			{% endif %}
			</div>
		{%- endif -%}
  </div>
</product-card>
{%- else -%}
<product-card class="product-card">
	<figure class="product-featured-image {% if settings.products_hover_images %}thb-hover{% endif %}">
		<a href="{{ product_card_product.url | within: collection }}" title="{{ product_card_product.title | escape }}" class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}" style="--padding-bottom: {{ 1 | divided_by: 1 | times: 100 }}%;">
			<div class="thb-placeholder">
				{{ 'product-1' | placeholder_svg_tag }}
			</div>
			<button class="product-card-quickview  product-card-quickview--{%- unless show_size_options -%}button{%- else -%}icon{%- endunless -%}" href="#Product-Drawer" data-product-handle="{{ product_card_product.handle }}" tabindex="-1">
				<div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
				<span> {{ 'products.product.quick_view' | t }}</span>				
			</button>
		</a>
	</figure>
	<div class="product-card-info">
		<div class="product-card-vendor"><a href="#" title="{{ 'onboarding.product_vendor' | t }}">{{ 'onboarding.product_vendor' | t }}</a></div>
		<a href="#" title="{{ product_card_product.title | escape }}" class="product-card-title">{{ 'onboarding.product_title' | t }}</a>
		{% render 'product-price', product: product_card_product %}
		{%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
		<div class="star-rating" style="--star-rating: 5;"></div>
		{%- endif -%}
		{%- if settings.enable_quick_add -%}
		<div class="product-card--add-to-cart-button-container">
			<quick-view class="product-card--add-to-cart-button button outline" data-product-handle="" tabindex="-1" disabled>
				<span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
				<span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
			</quick-view>
		</div>
		{%- endif -%}
	</div>
</product-card>
{%- endif -%}
